    <!--Creation de la présentation-->
<section id="about">
    <div class="d-flex flex-wrap justify-content-center mt-5">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 p-0">
                    <div class="about-img position-relative pe-0">
                        <img class="img-fluid w-100" src="upload/maison1.jpg" alt="about">
                    </div>
                </div>
                <div class="col-lg-6 py-5 py-lg-0 px-3 px-lg-5">
                    <i class="iconbox fa-solid fa-truck"></i>
                    <h5 class="titre mt-2 text-uppercase">15 ans d'éxperience</h5>
                    <p>Découvrez la solution ultime pour trouver rapidement et efficacement le professionnel du bâtiment qu'il vous faut, directement sur notre plateforme en ligne. Simplifiez vos recherches et engagez les meilleurs experts en toute confiance, dès aujourd'hui!</p>
                    <div class="row py-2">
                        <div class="col-sm-6 mt-5">
                            <i class="iconbox fa-solid fa-medal"></i>
                            <h5 class="titre mt-2 text-uppercase">Qualité</h5>
                            <p>Nous vous garantissons une tranquillité d'esprit totale grâce à notre sélection rigoureuse de professionnel dans le domaine du bâtiment. Chacun d'eux est soigneusement évalué pour son expertise, son professionnalisme et son engagement envers la qualité.</p>
                            <a href="{{ path('app_solution')}}" class="btn btn-savoir align-self-center" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Trouver votre professionnelle</a>
                        </div>
                        <div class="col-sm-6 mt-5">
                            <i class="iconbox fa-solid fa-award"></i>
                            <h5 class="titre mt-2 text-uppercase">Primé</h5>
                            <p>Nos sous-traitants en bâtiment sont des professionnels chevronnés, forts d'une expérience éprouvée dans leur domaine.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
