<footer class="container-fluid footercolor text-white text-center text-lg-start mt-5">
    <div class=" container-fluid p-4">
        <div class="row">
            <div class="logofooter col-lg-2 col-md-12 mb-4 mb-md-0">
                <img src="/upload/logo2.webp " style="width: 150px;">
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Liens Utiles</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Travaux de Rénovation</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Décoration Intérieure</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Plomberie & Électricité</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Construction de Maisons</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Nos Services</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white">Réparations Rapides</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Conseils d'Expert</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Service Clientèle</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Estimations Gratuites</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Ressources</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white">Guides Pratiques</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Blog des Travaux</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Témoignages Clients</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>