{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container py-5">
    <h1 class="text-center mb-5">Inscription</h1>
    <div class="row justify-content-center"> 
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="h4 mb-0">S'inscrire en tant que Client ou Prestataire</h2>
                </div>
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        <p>Avez-vous un compte? <a href="{{ path('app_login') }}">Se connecter.</a></p>
    </div>
</div>
{% endblock %}
