{% extends 'base.html.twig' %}
{% block title %}Hello TestController!{% endblock %}
{% block body %}
    <div class="container">
        <div class="row"> 
            <div class="col-md-12">
                <h2 class="BienvenueClass">Bienvenue dans Artisans & Prestataires</h2>
                   <img src="/upload/group.jpg" width="1000px" class="logo" alt:"...">
                    <h4>Vous trouverez ci-dessous la liste de vos demandes. N'hesitez pas à nous contactez.</h4>
            </div>
            {# <form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Métier</label>
    <select id="inputState" class="form-select">
      <option selected>Choisir le type de métier...</option>
      <option>Chauffage</option>
      <option>Chauffage</option>
      <option>Chauffage</option>
      <option>Chauffage</option>
      <option>Chauffage</option>
      <option>Chauffage</option>
      <option>Manutention</option>
      <option>Electricien</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Valider</button>
  </div>
</form>#}
    </div> 
        </div>
 {% include 'includes/footer.html.twig' %}
{% endblock %}