{% extends 'base.html.twig' %}

{% block title %}Espace membre{% endblock %}

    {% block body %}
    <div class="container col-3 mt-5">    
        <p>Bienvenue dans votre espace membre.Dans cette espace vous pouvez modifier votre mot de passe </p></br>
        <a href="{{ path ('password_modify')}}">Modifie ton mot de passe</a><br>
    </div>

{% endblock %}